body, html, ul{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
    background: linear-gradient(135deg, #5661b3, #8646ee, #9668df);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    height: 100vh;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.slide{
    width: 100%;
    height: 100vh;
}
.slide.active{
    display: block;
}
h1{
    color: #B0C4DE;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.input-text-search{
    width: 330px;
    height: 30px;
    font-size: 25px;
    transition: 1s; 
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0 solid ;
    color: #B0C4DE;
}
.input-text-search:valid{
    background-color: #6a1b9a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 7px;
    margin: 7px;
}

.input-text-search::placeholder{
    color: #B0C4DE;
}

input [type="radio"] .var_otveta {
    height: 30px;
    font-size: 25px;
}

.error {
    color: rgba(158, 13, 13, 0.486);
    font-size: 25px;
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-logo{
    margin-top: 5px;
}
.user-information-pers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.information-item {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.information-item:hover {
    background-color: rgba(106, 27, 154, 0.2);
    transform: scale(1.02);
    cursor: pointer;
}
a, p, label, li{
    text-decoration:none;
    font-size: 18px;
    transition:.6s;
    color:white;
}
#persList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
}
.information-item{
    padding-bottom: 7px;
    text-align: center;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    width: 320px;
}

#description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
}
.description{
    margin-top: -20px;
    margin-left: 40px;
    color: #B0C4DE;
    text-align: center;
    font-size: 18px;
}

a:hover{
    color:#B0C4DE;
}
a.active{
    color:#B0C4DE;
}
#header{
    width: 100%;
    height:100px;
    padding: 0 16px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    background:#0b233e;
    
}
#menu{
    display:flex;
    justify-content: right;
    list-style:none;
    width: 100%;
}
#menu a{
    display:block;
    padding:8px;
}
#exit{
    display: block;
    font-size: 18px;
    transition:.6s;
    color:#B0C4DE;
    border: #0b233e;
    background-color: #0b233e;
}
.menu-login{
    color: white;
}

.h1{
    color: #B0C4DE;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.container-opisanie, .container-opisanie-two{
    border: 1px solid #B0C4DE;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.1);

}
.container-opisanie-text{
    text-align: center;
    color: #B0C4DE;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.photo-opisanie{
    float: right;
    margin-right: 40px;
}

.photo-opisanie-p-two{
    float: left;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#footer{
    box-sizing:border-box;
    width: 100%;
    height:80px;
    padding: 16px;
    display: flex;
    bottom: 0;
    width: 100%;
    align-items:center;
    justify-content:center;
    background:#0b233e;
    color: white;

}
.footer-slovar{
    position: fixed;
}
.social-icons {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
}  
.social-icons a {
    margin: 0 5px; 
}
.social-icons img {
    width: 70px;
    height: 40px;
    transition: transform 0.3s;
}  
.social-icons a:hover img {
    transform: scale(1.2);
}
.paragraph-p-tel-copi{
    text-align: center; 
}
@media (max-width: 600px) {
.photo-opisanie, .photo-opisanie-p-two {
    float: none;
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto 20px auto;
}
.opisanie, .opisanie-two {
    padding: 10px;
}
#menu{
    display:block;
    position:absolute;
    width:100%;
    top:70px;
    right:0px;
    background:#0b233e;
    height:0px;
    transition:.6s;
    z-index:1000;
    visibility:hidden;
    overflow-y:hidden;
}
#menu a {
    padding:10px 0;
    margin:0 10px;
    
}
#menu-login{
    display:block;
    position:absolute;
    color: white;
}

#exit{
    display:flex;
    padding:8px 16px;
    font-size:10px;
    border:none;
    background:none;
    cursor:pointer;
    gap:8px;
}}